global
    daemon

defaults
    log global
    log 127.0.0.1:514 local0
    mode http
    option httplog
    option dontlognull
    retries 3
    option redispatch
    timeout connect 5000
    timeout client 10000
    timeout server 10000
    default-server init-addr last,libc,none check inter 2s resolvers docker

# Use Docker's built-in DNS server to resolve container names dynamically
resolvers docker
    nameserver dns1 127.0.0.11:53

frontend in_80
    bind *:80
    mode http

    # Force HTTPS
    redirect scheme https if !{ ssl_fc }

frontend in_443
    bind *:443 ssl crt /usr/local/etc/haproxy/wildcard.crt
    mode http

    acl host_ssp_hub hdr(host) -i ssp-hub.local
    acl host_ssp_idp1 hdr(host) -i ssp-idp1.local
    acl host_ssp_idp2 hdr(host) -i ssp-idp2.local
    acl host_ssp_idp3 hdr(host) -i ssp-idp3.local
    acl host_ssp_idp4 hdr(host) -i ssp-idp4.local
    acl host_ssp_sp1 hdr(host) -i ssp-sp1.local
    acl host_ssp_sp2 hdr(host) -i ssp-sp2.local
    acl host_ssp_sp3 hdr(host) -i ssp-sp3.local
    acl host_pwmanager hdr(host) -i pwmanager.local

    use_backend hub-https if host_ssp_hub
    use_backend idp1-https if host_ssp_idp1
    use_backend idp2-https if host_ssp_idp2
    use_backend idp3-https if host_ssp_idp3
    use_backend idp4-https if host_ssp_idp4
    use_backend sp1-https if host_ssp_sp1
    use_backend sp2-https if host_ssp_sp2
    use_backend sp3-https if host_ssp_sp3
    use_backend pwmanager-https if host_pwmanager

    default_backend hub-https

backend pwmanager-https
    mode http
    option httpclose
    server pwmanager.local pwmanager.local:443 check ssl verify none

backend hub-https
    mode http
    option httpclose
    server ssp-hub.local ssp-hub.local:443 check ssl verify none

backend sp1-https
    mode http
    option httpclose
    server ssp-sp1.local ssp-sp1.local:443 check ssl verify none

backend sp2-https
    mode http
    option httpclose
    server ssp-sp2.local ssp-sp2.local:443 check ssl verify none

backend sp3-https
    mode http
    option httpclose
    server ssp-sp3.local ssp-sp3.local:443 check ssl verify none

backend idp1-https
    mode http
    option httpclose
    server ssp-idp1.local ssp-idp1.local:443 check ssl verify none

backend idp2-https
    mode http
    option httpclose
    server ssp-idp2.local ssp-idp2.local:443 check ssl verify none

backend idp3-https
    mode http
    option httpclose
    server ssp-idp3.local ssp-idp3.local:443 check ssl verify none

backend idp4-https
    mode http
    option httpclose
    server ssp-idp4.local ssp-idp4.local:443 check ssl verify none

listen stats
    bind *:7001
    mode http
    log global
    maxconn 10
    stats enable
    stats uri /
    stats auth admin1:admin1
