{
	auto_https disable_redirects
}

http://ssp-hub.local {
	redir https://ssp-hub.local{uri} 308
}

https://ssp-hub.local {
	tls /certs/saml.crt /certs/saml.pem
	reverse_proxy https://ssp-hub-app:443 {
		header_up Host {host}
		transport http {
			tls_insecure_skip_verify
		}
	}
}
